@using cb.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-4">
        @foreach (Post post in ViewBag.posts)
        {
            <h2>@post.Titel</h2>
            <div class="panel panel-default">
                <a href="/Post/PostPage?id=@post.Id">
                    <img src="data:image/jpeg;base64,@post.Image" width="100%"/>
                </a>
            </div>
            <p>@post.Score beans - @post.Comments.Count comments - By <a href="/User/UserProfile/@post.User.Id">@post.User.Username</a></p>
        }

        </div>
        <div class="col-sm-4"></div>
    </div>
</div>