<div class="row">
    <div class="col-sm-6"><h2>@ViewBag.user.Username</h2></div>
    <div class="col-sm-6"><h2>Posts by @ViewBag.user.Username</h2></div>
</div>


<div class="row">
    <div class="col-sm-6">
        <img src="data:image/jpeg;base64,@ViewBag.user.Image">
    </div>
    <div class="col-sm-6">
    </div>
</div>
