<div class="row">
    <div class="col-sm-12">
        <h2>New Post</h2>
        <form action="/Post/CreateNewPost/" enctype = "multipart/form-data" method="POST">
            <div class="form-group">
                <label>Titel:</label>
                <input type="text" class="form-control" name="titel">
            </div>

            <div class="form-group">
                <label >Image:</label>
                <input type="file" name="image">
            </div>
            
            <div class="form-group">
                <label>Category:</label>
                <select class="form-control">
                    <option value="male">Classic</option>
                    <option value="female">Gaming</option>
                    <option value="female">Cute</option>
                    <option value="female">Fail</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>