
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-sm-12">
        <h2>Login</h2>
        <form action="/Login/Verify/" method="POST">
            <div class="form-group">
                <label for="usr">Username:</label>
                <input type="text" class="form-control" name="username">
            </div>

            <div class="form-group">
                <label for="usr">Password:</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>